<!doctype html> 

<html> 

  <head> 

    <title><%=shopName%></title> 

  </head> 

  <body> 

    <h1>Search Here</h1> 

    <p>Search for your drinks here
    <form action="/search_result" method="GET"> 
      Name:     
      <input id="search_box" type="text" name="search_text"> 

      Category:
      <input id="search_box" type="text" name="category"> 

      <input type="submit" value="OK" > 

    </form> 
</p> 

  </body> 

</html> 